* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  position: relative;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

canvas {
  filter: blur(15px) contrast(1000);
  width: 100%;
  align-self: stretch;
  justify-self: stretch;
  min-height: 0;
}

.buttons {
  background: #3f51b5;
  padding: 0.5em;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

.buttons button {
  background: #7986cb;
  padding: 0.7em 1em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}
